:root {
    --primary-color: #061A40;
    --secondary-color: #053772;
    --accent1-color: #607899;
    --accent2-color: #33496D;
    --heading-font: "Merriweather", sans-serif;
    --body-font: "Lato", sans-serif;
    --accent2-color-opc:rgba(51, 73, 109, 0.75);
}


* {
    
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);

}

header {
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;


}

header, main, footer {
    max-width: 1300px;
    margin: 0 auto;
}


h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);

}


.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;

}

a {
    text-decoration: none;
}

.hero {
    position: relative;

}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent2-color-opc);
    color: #fff;
}

article {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translatex(-50%);
    text-align: left;
    background-color: var(--accent2-color-opc);

}

article p {
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
    border: 2px solid var(--primary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 1rem;

}

.awaits {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
}

.awaits h2{
    grid-column: 1/6;

}
.awaits img { 
    width: 100%;
    height: auto;
    
}

.history {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    gap: 1em;
}

.history h2 {
    grid-column: 1/4;
}
.history-img {
    width: 100px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

footer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    gap: 24px;

    
}

footer p {
    margin: 0;
    padding: 0;
    color: var(--accent2-color);
    text-align: center;
    width: 100%;
}

.socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin: 16px auto;
    padding: 16px;
    background-color: var(--accent2-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.send {
    text-align: center;
    margin: 16px auto;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin: 16px auto;
    padding: 16px;
    background-color: var(--accent2-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
}

fieldset label{
    display: block;
    margin-bottom: 8px;
    /* color: var(--accent1-color); */
    cursor: pointer;
}

.contact-container {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: flex-start;
    margin: 24px auto;
    width: fit-content;
}

.contact-inf {
    min-width: 250px;
    max-width: 350px;
    padding: 16px;
}

.map-container {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}