:root {
    --primary-color: darkblue;
    --secondary-color: #eee;
    --text-color: #333;
    --border-color: black;
    --shadow-color: gray;
    --footer-border: #000;
    --nav-link-color: white;
    --aside-border: rgb(0, 0, 0 / 0.2);

    --main-width: 840px;
    --aside-width: 20rem;
    --aside-padding: 1rem;
    --main-img-width: 150px;
    --aside-img-width: 200px;
    --footer-margin: 15px;
    --nav-padding: 10px;
    --nav-link-padding: 20px;
    --img-padding: 2px;
}


nav {
    background-color: var(--primary-color);
    padding: var(--nav-padding);
}

nav a {
    color: var(--nav-link-color);
    display: block;
    padding: var(--nav-link-padding);
}

h1 {
    color: var(--primary-color);
}

main img {
    width: var(--main-img-width);
    height: auto;
    border: 1px solid var(--border-color);
    padding: var(--img-padding);
    box-shadow: 0 0 30px var(--shadow-color);
}

p {
    padding: 0;
}

main {
    max-width: var(--main-width);
}

aside {
    width: var(--aside-width);
    margin: var(--aside-padding);
    border: 1px solid var(--aside-border);
    padding: var(--aside-padding);
    background-color: var(--secondary-color);
    color: var(--text-color);
    text-align: center;

}

aside img {
    width: var(--aside-img-width);
    height: auto;
}

 img {
    width: 150%;
    height: auto;
}

footer {
    margin-top: var(--footer-margin);
    border-top: 1px solid var(--footer-border);
    text-align: center;
}